*{
	margin: 0;
	padding: 0;
}
nav{
	background: skyblue;
	height: 70px;
	z-index: 1;
	position: fixed;
	width: 100%;
}
.logo{
	font-size: 25px;
	font-weight: bolder;
	position: relative;
	left: 5%;
	color: white;
	line-height: 70px;
}
ul{
	position: relative;
	float: right;
	margin-right: 20px;
}
ul li{
	display: inline-block;
	line-height: 70px;
	margin: 0 5px;
}
ul li a{
	text-decoration: none;
	color: white;
	font-size: 18px;
}
.bgImg{
	width: 100%;
	height:500px;
}
.img-text
{
	position: absolute;
	top: 30%;
	left: 20%;
	color: #111;
	font-size: 35px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: mistyrose;
}
.welcImg
{
	width: 100%;
	height: 280px;
}
.welcPara
{
	text-align: justify;
	width: 100%;
}


.teachImg
{
	width: 100%;
}


.cardDiv  p{
	background-color: skyblue!important;
	text-align: justify;
	padding: 10px;
	color: white;
}

.cardCorse
{
	text-align: justify;
	padding: 10px;
	color: black;
}
.lebel-text
{
	display: inline-block;
	width: 100px;
	text-align: right;
	padding-right: 10px;
}
.inptForm{
	width: 30%;
	height: 40px;
	border-radius: 10px;
	text-align: center;
	border: 1px solid blue;
}
.inp-group
{
	padding-top: 5px;
}
.comment
{
	width: 30%;
	height: 120px;
	border-radius: 10px;
	border: 1px solid blue;
}
#submit
{
	position: relative;
	width: 15%;
	left: 5%;
}
footer
{
	background-color: black;
	color: #FFF;
	width: 100%;
	height: 60px;
	text-align: center;

}
footer p{

	top: 20%;
	position: relative;
}
